
<div id="posts">

	<% @posts.each do |post| %>

		<div class="post">
			<div class="rating" data-id="<%= post.id %>" data-entity-type="1">
				<%= image_tag 'arrow_up_gray.png',   alt: 'Vote Up', class: (post[:voted] == 1 ? 'upvote active' : 'upvote') %><br>
				<%= vote_count(post) %><br>
				<%= image_tag 'arrow_down_gray.png', alt: 'Vote Down', class: (post[:voted] == -1 ? 'downvote active' : 'downvote') %>
			</div>
			<div class="content">
				<a href="#a"><%= post.title %><br></a>
				<div class="info">
					submitted <%= time_ago_in_words(post.created_at) %> ago by <a href="#">user</a> to <a href="#">videos</a><br>
					<a href="#"><%= pluralize post.comments.size, 'comment' %></a> &nbsp; <a href="#">share</a> &nbsp; <a href="#">save</a> &nbsp; <a href="#">report</a>
				</div>
			</div>
		</div>
		<div class="clear">

	<% end %>
</div>

<div id="sidebar">
	<div class="action">
		<%= link_to 'Submit a new link', :new_link_path %>
	</div>
	<div class="action">
		<%= link_to 'Submit a new text post', :new_post_path %>
	</div>
	<div class="action">
		<a href="#">Create your own subreddit</a>
	</div>
</div>