
<div id="posts">

	<% @posts.each do |post| %>

		<div class="post">
			<div class="rating">
				<%= image_tag "arrow_up_gray.png", alt: 'Vote Up', class: 'upvote' %><br>
				<%= post.votes_up - post.votes_down %><br>
				<%= image_tag "arrow_down_gray.png", alt: 'Vote Down', class: 'downvote'  %>
			</div>
			<div class="content">
				<a href="#a"><%= post.title %><br></a>
				<div class="info">
					submitted <%= time_ago_in_words(post.created_at) %> ago by <a href="#">user</a> to <a href="#">videos</a><br>
					<a href="#"><%= pluralize post.comments.size, 'comment' %></a> &nbsp; <a href="#">share</a> &nbsp; <a href="#">save</a> &nbsp; <a href="#">report</a>
				</div>
			</div>
		</div>
		<div class="clear">

	<% end %>
</div>

<div id="sidebar">
	<div class="action">
		<%= link_to 'Submit a new link', :new_link_path %>
	</div>
	<div class="action">
		<%= link_to 'Submit a new text post', :new_post_path %>
	</div>
	<div class="action">
		<a href="#">Create your own subreddit</a>
	</div>
</div>